---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";
  .feedback-container {
    width: 80%;
    margin: auto;
  }
  .feedback-entry {
    margin-bottom: 2rem;
  }
  .photo-and-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .feedback-photo {
    width: 30%;
    margin-right: 2rem;
  }
  .feedback-photo img {
    max-width: 100%;
    height: auto;
  }
  .feedback-details {
    width: 65%;
  }
  .stars {
    color: gold;
    font-size: 1.5rem;
  }
  .contact-container {
    width: 80%;
    margin: auto;
  }
  .contact-container h1 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .contact-info p {
    margin: 0.5rem 0;
  }
  .map, .qrcode {
    text-align: center;
    margin: 1rem 0;
  }
  .map img {
    max-width: 100%;
    height: auto;
  }
  .qrcode img {
    max-width: 200px; /* Adjust this value to change the size */
    height: auto;
  }
  .google-form {
    margin-top: 2rem;
  }