---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";
  .feedback-container {
    width: 80%;
    margin: auto;
  }
  .feedback-entry {
    margin-bottom: 2rem;
  }
  .photo-and-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .feedback-photo {
    width: 30%;
    margin-right: 2rem;
  }
  .feedback-photo img {
    max-width: 100%;
    height: auto;
  }
  .feedback-details {
    width: 65%;
  }
  .stars {
    color: gold;
    font-size: 1.5rem;
  }
  .contact-container {
    width: 80%;
    margin: auto;
  }
  .contact-container h1 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .contact-info p {
    margin: 0.5rem 0;
  }
  .map, .qrcode {
    text-align: center;
    margin: 1rem 0;
  }
  .map img {
    max-width: 100%;
    height: auto;
  }
  .qrcode img {
    max-width: 200px; /* Adjust this value to change the size */
    height: auto;
  }
  .google-form {
    margin-top: 2rem;
  }

  .faq-container {
    width: 80%;
    margin: auto;
  }
  .faq-container h1 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .faq-item {
    margin-bottom: 1.5rem;
  }
  .faq-item h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .faq-item p {
    margin: 0;
    padding-left: 1rem;
  }

  .gallery-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .column {
    flex: 100%;
    text-align: center;
  }
  .column img {
    width: 75%; /* Adjusted width */
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  .column h3 {
    margin-top: 10px;
    font-size: 1.5em;
  }
  .column p {
    font-size: 1em;
    color: #666;
  }

  .resources-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .video-row {
    margin-bottom: 20px;
  }
  .video-column {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  .video-column h4 {
    margin-bottom: 10px;
  }
  .video-column iframe {
    width: 100%;
    height: auto;
    height: 450px;
  }
  .section {
    margin-bottom: 40px;
  }
  .section h3 {
    margin-bottom: 20px;
  }
  .section ul {
    list-style: none;
    padding: 0;
  }
  .section ul li {
    margin-bottom: 10px;
  }
  .section ul li a {
    color: #0066cc;
    text-decoration: none;
  }
  .section ul li a:hover {
    text-decoration: underline;
  }

  .events-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .event-item {
    margin-bottom: 40px;
  }
  
  .event-item h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .event-item .event-date {
    font-size: 1em;
    color: #777;
    margin-bottom: 10px;
  }
  
  .event-item .event-image {
    width: 75%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .event-item p {
    font-size: 1.2em;
    color: #333;
  }
  
  .event-item .read-more {
    display: inline-block;
    margin-top: 10px;
    font-size: 1em;
    color: #007BFF;
    text-decoration: none;
  }
  
  .event-item .read-more:hover {
    text-decoration: underline;
  }